RewriteEngine On

RewriteCond %{REQUEST_URI} !^/(web|api)
RewriteRule !^web /web%{REQUEST_URI} [L]
RewriteCond %{REQUEST_URI} ^/api$
RewriteRule ^api /web/index.php [L]
RewriteCond %{REQUEST_URI} ^/api
RewriteRule ^api(.*) /web$1 [L]